/.vscode
/5_json_insert_frage.sql
/Cargo.lock
/ae.sql
/curl_frage_add.sh
/frage_json.json
/identity.pfx
/muscle.ini
/openapi_ap.json
/target
static/ap/css/test-admin.css
static/ap/js/02-testerstellung.js
static/ap/submit/submit.css
static/ap/submit/submit.html
static/ap/submit/submit.js
static/ap/submit/doc/ap-infos.pdf
static/ap/submit/img/arrow-icon.png
static/ap/submit/img/as-header.png
static/ap/submit/img/as1.png
static/ap/submit/img/uni-header.png
static/ap_alt/02-testerstellung.html
static/ap_alt/css/test-admin.css
static/ap_alt/js/02-testerstellung.js
static/ap_alt/submit/2021-07-22-backup-submit.js
static/ap_alt/submit/ae_submit.js
static/ap_alt/submit/post-geruest-1.js
static/ap_alt/submit/submit.css
static/ap_alt/submit/submit.html
static/ap_alt/submit/submit.js
static/ap_alt/submit/tags-cats-context.json
static/ap_alt/submit/img/arrow-icon.png
static/ap_alt/submit/img/as-header.png
static/ap_alt/submit/img/as1.png
static/ap_alt/submit/img/uni-header.png
