
/* begin grid setup */ 

#grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3px;
/*	background-color: #FAF8F5; */
	max-width: 1500px;
	padding: 5px;
}

#submit_infobox {
	grid-column-start: 1;
	grid-column-end: 2;
}

#qContainer {
	grid-column-start: 1;
	grid-column-end: 2;
}



#header-bar {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	height: 124px;
}

#footer {
	grid-column-start: 1;
	grid-column-end: 3;
}

/* end grid setup */ 



body {
	position: relative;
	font-family: sans-serif;
}

:disabled {
	cursor: not-allowed;
}

#logos {
	float: left;
}

#logos img {
	height: 121px;
}

#titletext {
	color: #901217;
	font-weight: bold;
	font-size: 23px;
	text-align: center;
	height: 121px;
	line-height: 98px;
}

.clearer {
	clear: both;
}

#submit_infobox {
	border: 2px solid #f4f1ea;
	padding: 11px;
	margin: 17px auto;
	width: 617px;
}

#submit_infobox>p {
	font-size: 0.87em;
	line-height: 1.27em;
}

h4 {
	color: #901217;
	margin-top: 0px;
}

#qContainer {
	max-width: 620px;
	margin: 17px auto;
	background-color: #f4f1ea;
	padding: 17px 19px;
}


#e_catSelect, #e_contextSelect, #e_taskSelect {
	padding: 7px 11px;
	width: 210px;
	margin: 3px 9px;
	border: 1px solid #DDD0BE; 	
}

#contextoptbox {
	float: right;
	text-align: right;
	margin-top: 7px;
}

#e_con_label {
	margin-right: 9px;
	font-size: 0.9em;
}

#e_contextSelect {
	margin-top: 17px;
	display: none;
}

#taskbox>p {
	font-size: 0.83em;
	line-height: 1.27em;
	padding: 11px;
	border: 2px dotted #E1D6C7;
	background-color: #fbfaf7;
	margin: 5px 9px;
	color: #464646;
}

#e_taskExample {
	display: none;
}

#questionText {
	margin-bottom: 17px;
}

.a_textbox {
	border: 1px solid #DDD0BE; 
	padding: 4px;
	width: 574px;
	margin-bottom: 19px;
}


/* Radio Buttons neben den Antwortoptionen mit tooltip on hover */

.radio-box {
	position: relative;
	display: inline-block;
}

.radio-box .radio-tooltip {
	position: absolute;
	z-index: 1;
	bottom: 117%;
	left: 61%;
	width: 127px;
	padding: 4px 7px;
	border-radius: 5px;
	background-color: #444;
	color: #eee;
	font-size: 0.84em;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}

.radio-box:hover .radio-tooltip {
	visibility: visible;
	opacity: 1;
}

/* end radio button tooltip */


.textbox {
	border: 1px solid #DDD0BE; 
	padding: 4px;
	width: 600px;
}

.textbox:disabled {
	background-color: #eee;
	color: #333;
}

#e_textSource {
	margin-top: 7px;
}

#e_tagSelection {
	height: 191px;
	width: 317px;
	padding: 7px 9px;
	border: 1px solid #DDD0BE; 	
}






.comment-q {
	color: #757575;
	font-size: 0.93em;
	line-height: 1.4em;
}

#qabox {

}


#kontextbox {
	display: none;
}


#qContainer>div:not(:first-of-type) {
	padding-top: 27px;
	border-top: 1px solid #D5C4AF;
	margin-top: 27px;
}


#submitbox {
	text-align: right;
}

button {
	border: none; 
	background-color: #901217; 
	color: #fff;
	padding: 7px 11px;
	cursor: pointer;
}

button:hover {
	background-color: #640c10; 
}

button:disabled {
	cursor: not-allowed;
}

#footer {
	margin-top: 23px;
	font-size: 0.83em;
	text-align: right;
}


/* SPEICHERN DIALOG */

/* wird angezeigt, wenn erfolgreich gespeichert wurde */

/* ggfs. Abfrage, ob eine weitere Frage eingegeben werden soll */

#save_dialogBackground {
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	z-index: 2;
	cursor: not-allowed; /* oder default -- muss auch nicht übertreiben hier */
}


#save_dialog {
	position: fixed;
	top: 41%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	max-height: 320px; /* nur for testing */
	width: 614px; /* nur for testing */
	margin: 0 auto;
	display: none; 
	border: 1px solid #901217;
	padding: 11px;
	box-shadow: 
		0 1.7px 3.4px rgba(0, 0, 0, 0.38),
		0 4.1px 9.1px rgba(0, 0, 0, 0.237),
		0 7.7px 18.4px rgba(0, 0, 0, 0.208),
		0 14px 35px rgba(0, 0, 0, 0.187),
		0 33px 91px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	color: #444;
	opacity: 1;
	font-size: 0.97em;
	line-height: 1.3em;
}

#save_pre_check {
	display: none;
}

#save_pre_check>p {
	font-size: 0.85em;
	margin-left: 17px;
}

.answercheck {
	padding-left: 27px;
}

#save_w_context {
	display: none;
}

#save_no_context {
	display: none;
}

.save_dialog_buttons {
	margin-top: 23px;
}
