body {
	position: relative;
	font-family: sans-serif;
}


#logos {
	float: left;
}

#logos img {
	height: 121px;
}

#titletext {
	color: #901217;
	font-weight: bold;
	font-size: 23px;
	text-align: center;
	height: 121px;
	line-height: 98px;
}



/* --------------- */
/*      STEP 1     */
/* --------------- */

/* SELECT BOX */

#selectbox {
	margin: 37px 23px;
}

#e_semesterselect {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none; /* entfernt den dropdown-pfeil. der muss nicht unbedingt weg -- mir war er nur zu klein, also versuch ich was anderes */
	border: 1px solid #ccc;
	padding: 11px 7px;
	cursor: pointer;
}


#versionsinfo {
	display: none;
	margin-top: 27px;
	padding: 17px 11px;
	border: 1px solid #ccc;
}


.cleanup {
	clear: both;
}




/* --------------- */
/*      STEP 2     */
/* --------------- */


/* grid setup */


#grid-container {
	display: grid;
	grid-template-columns: 3fr 4fr 1fr 4fr 2fr;
	grid-gap: 3px;
	background-color: #fff;
	padding: 10px;
	border: none;
/*	width: max-content; */
}


#header-bar {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 5;
	height: 124px;
}

#note-bar {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 5;
}


#kategoriebox {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	height: 53px;
	background-color: #f4f1ea;
}

#terminbox {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 4;
	grid-column-end: 5;
	height: 53px;
	background-color: #fff;
}

#tagbox {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
}

#kontext-box {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 2;
}

#all-q-box {
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 2;
	grid-column-end: 3;
}

#shiftbuttons {
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 3;
	grid-column-end: 4;
	width: 57px;
	margin: 0 auto;
}

#sel-q-box {
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 4;
	grid-column-end: 5;
}

 
#count-box {
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 5;
	grid-column-end: 6;
	height: 337px;
	background-color: #fff;
	border: 2px solid #ddd;
}

#savebox {
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 4;
	grid-column-end: 5;
	height: 40px;
}

#footer {
	grid-row-start: 7;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 6;
	height: 40px;
}

/* Ende grid setup */


p {
	padding: 2px 17px;
}

h4 {
	color: #901217;
	margin: 9px 11px 7px;
}

button {
	border: none;
	background-color: #901217;
	color: white;
	padding: 7px 11px;
	margin-top: 3px;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background-color: #640c10; 
}

#note-bar {
	background-color: #f3e7e7;
	margin: 9px 0;
}

#note-bar>p {
	font-size: 0.9em;
	padding: 4px 19px;
}

#e_catselect {
	padding: 7px 11px;
	width: 320px;
	margin: 7px 9px;
	border: 1px solid #f4f1ea;
}


#terminbox>p {
	float: right;
	font-weight: bold;
	font-size: 0.84em;
}

.opt-box {
	background-color: #fff;
	border: 1px solid #f2f2f2;
	padding: 7px 11px;
	margin: 7px 5px;
	overflow: auto;
}

.info-p {
	font-size: 0.8em;
	margin: 0;
}


#tagbox {
	background-color: #f4f1ea;
}

#e_tags {
	height: 200px;
	width: 365px;
}

.taglist-item {
	padding: 3px;
}

.taglist-item:hover {
	background-color: #ddd;
}


#kontext-box {
	background-color: #f4f1ea;
}

#e_kontext_sel {
	height: 173px;
}

.context-item {
	font-size: 0.9em;
	padding: 3px 7px;
	cursor: pointer;
}

.context-item:hover {
	background-color: #eee;
}

.context_active {
	background-color: #ddd;
}

#btn_clear_kontext {
	width: 94%;
	margin: 3px auto 0;
	padding: 7px 3px;
	background-color: #ddd;
	border: 1px solid #fff;
	color: #fff;
	font-size: 0.87em;
	text-align: center;
	cursor: pointer;
}

#btn_clear_kontext:hover {
	background-color: #ccc;
}

#shiftbutton-box {
	position: absolute;
	top: 50%;
}

.movebutton {
	border: 1px solid #901217;
	padding: 17px;
	margin: 0 auto 31px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	color: #901217;
}

.movebutton:hover {
	background-color: #f4f1ea;
}	

.qbox {
	height: 577px;
	border: 1px solid #ddd0be; /* alternativ #c5ae91 (warm sand) oder e4dbcc oder ddd0be*/ 
	background-color: #fff; 
	overflow: auto;
}

.q-entry, .sel-q-entry {
	padding: 7px 9px;
	cursor: default;
	font-size: 0.84em;
	/* prevent highlighting */
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none; /* actual standard */
}

.q-entry:hover, .sel-q-entry:hover {
	background-color: #f4f1ea;
}


.clicked_question {
	background-color: #e4dbcc;
}

.hovered_over {
	border-bottom: 2px dotted #f4f1ea;
}

#all-q-box {

}


#frage_info_box {
	width: 361px;
	background-color: #eee;
	border: 1px solid #901217; /* mal schauen */
	/* position */
	position: absolute;
	transform: translate(0, -107%);
	/* box styling */
	border-radius: 4px;
	box-shadow:
	  0 2.5px 2.2px rgba(0, 0, 0, 0.17),
	  0 6.1px 5.3px rgba(0, 0, 0, 0.135),
	  0 11.4px 10px rgba(0, 0, 0, 0.113),
	  0 20.3px 17.9px rgba(0, 0, 0, 0.093),
	  0 38px 33.4px rgba(0, 0, 0, 0.072),
	  0 91px 80px rgba(0, 0, 0, 0.046);
	/* text styling */
	font-size: 0.8em;
	padding: 7px 4px;
}


#frage_info_box>p:not(:last-child) {
	margin-bottom: 2px;
	padding-bottom: 2px;
}

#frage_info_box>p:not(:first-child) {
	margin-top: 2px;
	padding-top: 2px;
}

.antwortoption_corr {
	font-weight: bold;
}


#count-box>p {
	font-size: 0.9em;
}

#fragen-zahl {
	font-weight: bold;
	margin: 17px 0 34px;
}


#savebox>button {
	float: right;
}

#footer {
	margin-top: 23px;
	font-size: 0.83em;
	text-align: right;
}
